body {
  /* background-image: url("./images/Sky\ Clouds\ GIF\ -\ Sky\ Clouds\ Rosamrenova\ -\ Discover\ &\ Share\ GIFs.gif"); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.container-fluid {
  padding: 10px;
  border-radius: 15px;
  max-width: 800px;
  margin: 0 auto;
  display: block;
  opacity: 0.9;
  background: linear-gradient(to top, #fff1eb, #ace0f9);
  margin-top: 140px;
  height: 600px;
  font-family: "Cantarell", sans-serif;
  box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.2);
}

.search {
  border: none;
  background-color: #f8fcfb;
  display: inline-block;
  height: 50px;
  line-height: 20px;
  padding: 15px 20px;
  color: #113f67;
  margin-top: 40px;
  margin-left: 20px;
  width: 611px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.submit {
  border: none;
  background-color: #38598b;
  color: white;
  display: inline-block;
  height: 50px;
  margin-top: 40px;
  width: 120px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  margin-left: 27px;
  margin-bottom: 0;
}
.submit:hover {
  background-color: #113f67;
  cursor: pointer;
}
#currentCity {
  padding-top: 10px;
  line-height: 40px;
  font-size: 32px;
  display: block;
  margin: 0 auto;
  text-align: right;
  text-transform: capitalize;
}
.city {
  display: block;
  margin: auto;
  text-align: right;
  margin-right: 20px;
}
.tempreture {
  text-align: left;
  margin-left: 20px;
  font-size: 50px;
}

.temp {
  font-size: 20px;
  font-weight: light;
  margin-left: 40px;
}
.forcast {
  background-color: #f8fcfb;
  display: block;
  text-align: center;
  height: 200px;
  border-radius: 6px;
  margin: 10px;
  padding-top: 15px;
}
.day {
  font-size: 20px;
}
.emoji {
  font-size: 38px;
  color: gray;
}
.high,
.low {
  font-size: 20px;
  line-height: 90px;
}
.low {
  color: grey;
}
.time {
  font-size: 20px;
  padding-left: 10px;
}
.units {
  font-size: 20px;
  position: relative;
  top: -20px;
  left: -10px;
  text-decoration: none;
}
.repository-adress {
  display: block;
  margin: 15px auto;
  text-align: center;
  color: #113f67;
}
.discribe {
  display: block;
  margin: 0 auto;
  text-align: center;
}
ul {
  list-style: none;
  padding-top: 20px;
  line-height: 27px;
  margin: 0px;
  margin-left: -40px;
}
